@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #e84624;
}

.container{
    display: flex;
    align-items: center;
    gap: 3.5rem;
}

.img img{
    width: 32rem;
}

.calculator {
    display: flex;
    padding: 16px;
    flex-direction: column;
    gap: 2rem;
    color: #e8d826;
    background-color: #330708;
    border-radius: 8px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.title{
    font-size: 2.25rem;
    position: relative;
}

.title::after{
    position: absolute;
    content: '';
    background-color: #e8a726;
    width: 8rem;
    height: 3px;
    bottom: 0;
    left: 0;
    border-radius: 3px;
}

.input-box label{
    font-size: 1.1rem;
    color:  #e8d826;
    font-weight: 500;
}

.input-field{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #921d1f;
    padding: 0.3rem;
    border-radius: 3px;
    margin-top: 3px;
}

.input-field span,
.input-field i{
    color:  #e8d826;
    font-size: 1.3rem;
    padding: 0.6rem 1rem;
}

.input-field input {
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1.3rem;
    color: #e8d826;
    padding: 0 0.5rem;
}

.input-field input::-webkit-outer-spin-button,
.input-field input::-webkit-inner-spin-button {
    appearance: none;
} 

.input-field input:focus {
    outline: none;
}

.calculate {
    border: none;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #e8a726;
    padding: 0.5rem 0;
    border-radius: 3px;
    cursor: pointer;
}

.result {
    display: flex;
    gap: 2rem;
    align-items: center;
    border-top: 1px solid #e8d826;
    padding: 0.75rem 0;
}

.bmi {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.25rem;
}

.bmi span:last-child {
    font-size: 0.875rem;
    color: #eedf3e;
}

.description {
    width: 15.5rem;
}

.more_info {
    border-top: 1px solid #e8d826;
    padding-top: 1.5rem;
}

.more_info a {
    color: #e8a726;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    font-size: 0.875rem;
    text-decoration: none;
    transition: color 0.4s;
}

.more_info a:hover {
    color: #eedf3e;
}

.hidden {
    display: none;
}